.Draw-input,
.Draw-button {
    font-family: "Comfortaa";
    font-size: 14px;
    padding: var(--s) var(--m);
  }

.Draw-button{
  color: var(--darkgrey);
  height: 50px;
  width: 75px;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  background: none;
  transition: color 0.1s, background 0.1s;
  margin: 3px;
}

.brush-radius{
    width: 40px;
    height: 35px;
}
.Draw-button:hover {
    color: var(--white);
    background-color: var(--lightgrey);
  }

.Draw-title{
    padding: var(--s) var(--m)
}
.drawpage-layout{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-evenly;
}
.drawing-panel{
    border: var(--lightgrey) 5px solid;
    border-radius: 10px;;
    min-width: 500px;
    min-height: 500px;
}

.colorSelectBox {
    border: var(--lightgrey) 5px solid;
    border-radius: 10px;
    padding:30px;
    min-width: 250px;
    min-height: 245px;
    margin-bottom: 50px;
    }

.rightselections {
    flex-direction: column;
}

.colordots{
    padding-bottom: 20px;
}

.eraser-container{
    width: 70px;
    text-align: center;
    padding:0px;
}

.finish-container{
    width: 100px;
    text-align: center;
    padding:0px;
    position: absolute;
}

.rightside{
    position:relative;
    
}