.character-name{
    font-family: "Comfortaa";
    font-size: 15px;
    color: var(--darkgrey);
}

.character-button{
    border: var(--lightgrey) 5px solid;
    border-radius: 5px;
    background-color: var(--offwhite);
}

.character-button:hover{
    background-color: var(--orange);
}

.organization{
    margin: 10px;
}

.streamline-bar-select {
    background-image: url("../../public/select.png");
    width: 550px;
    height: auto;
    min-height: 100%;
    
    /* div height to be the same as width*/
    padding-top: 50px;
    margin-bottom:0;
    padding-bottom:0;

    

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;


    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.streamline-bar-select:hover{
    background-image: url("../../public/select.gif");
    opacity: 90%;
}


.Select-top{
    padding-left: var(--m);
    padding-bottom: var(--s);
    padding-right: var(--m);
}

.Select-title{
    font-size:32px;
}