/* Fill me in :) */
.Graphiti-logo {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding-top: 35%;
    
  
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;

  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
  
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../public/logo.gif");
  }

.Grid-background {
    
    background-image: url("../../public/grid.png");
    position: absolute; 
    top: 59px; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }

.Get-started{
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 80%;
    padding: 15px;
    transition: all 50ms;
    
}

.Get-started:hover{
    font-size:35px;
    font-size-adjust: 25px;
}

