/* Fill me in :) */
.Graphiti-logo {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding-top: 35%;
  
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;

  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
  
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../public/logo.gif");
  }


.Grid-background {
    max-width: 100%;
    width: 100%;
    height: auto;
    
    /* div height to be the same as width*/
    padding-top: 0;
    position:static;
  
    /* Centering on image`s center*/
    background-position-y: bottom;
    background-position-x: center;
    background-repeat:repeat-y;
  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size:cover;
  
    /* it is optional, for making this div centered in parent*/
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../public/grid.png");
 
  }

  .Start-linkcontainer {
      border-radius: 5px;
      border: 3px;
      
      
  }
  