.NewPostInput-input,
.NewPostInput-button {
  font-family: "Comfortaa";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  flex-shrink:2;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  transition: box-shadow 0.1s;
}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  color: var(--darkgrey);
  border: var(--orange) 1px solid;
  border-radius: var(--xs);
  background: none;
  transition: color 0.1s, background 0.1s;
  margin-right: 10px;
}

.NewPostInput-button:hover {
  color: var(--darkgrey);
  background-color: var(--orange);
}


.checkmark-button{
  border: var(--lightgrey) 2px solid;
  border-radius: 5px;
  font-size: 20px;
}

.checkmark-button:hover{
  background-color: var(--orange);
}

.Function-input-box{
  height: 30px;
  width: 200px;
}

.Bound-input-box{
  height: 30px;
  width: 30px;
}

.Origin-input-box{
  height: 30px;
  width: 40px;
}