.SingleFunction-button{
    border: var(--lightgrey) 2px solid;
    border-radius: 5px;
}

.SingleFunction-button:hover{
    background-color: var(--orange);
    font-size: 20px;
  }

.Each-function{
    flex-grow:1;
    padding: 5px;
    display:inline-block;
    border: var(--lightgrey) 2px solid;
    border-radius: 5px;
    background-color: var(--lightgrey);
}
